<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSBuildLogAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MSBuildLogAnalyzer.Properties.Settings>
            <setting name="MSBuildPath" serializeAs="String">
                <value>C:\Program Files (x86)\MSBuild\14.0\bin\MSBuild.exe</value>
            </setting>
            <setting name="LastSolutionPath" serializeAs="String">
                <value />
            </setting>
        </MSBuildLogAnalyzer.Properties.Settings>
    </userSettings>
</configuration>